### Part 2 complementary

In [2]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [3]:
people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [4]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [5]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

#### Access a single column/series

In [9]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [10]:
type(df['email'])

pandas.core.series.Series

###### A series is basically a list of data, but with a lot of functionalities(rows by a single column).

###### Dataframe is a container for multiple of the series objects

In [11]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [12]:
df['first']

0    Corey
1     Jane
2     John
Name: first, dtype: object

###### Prefer [] notation than dot notation, because is dataframe has a column the same as dataframe built-in method, it will invoke the built in method

##### Access multiple columns

In [13]:
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [14]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   first   3 non-null      object
 1   last    3 non-null      object
 2   email   3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [16]:
# Get the row

In [17]:
# iloc = integer location
df.iloc[0] #return a series

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [18]:
df.iloc[[0, 2]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

In [19]:
df.iloc[[0, 2], [0, 2]]

   first                    email
0  Corey  CoreyMSchafer@gmail.com
2   John        JohnDoe@email.com

In [20]:
df.iloc[[0, 2], 2]

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [21]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [22]:
# loc = searching by labels
df.loc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [23]:
df.loc[[0, 1], ['email', 'first']]

                     email  first
0  CoreyMSchafer@gmail.com  Corey
1        JaneDoe@email.com   Jane

### Part 3 complementary

In [24]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [25]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [28]:
df.set_index('email', inplace = True)

In [29]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [30]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [31]:
df.loc['CoreyMSchafer@gmail.com']

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [32]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [33]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [34]:
df.reset_index(inplace = True)

In [35]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe